/* Gallery Css */
body {
    margin: 0;
    font-family: Poppins, sans-serif;
    background: #111;
    color: white;
}

.title {
    text-align: center;
    margin: 25px 0;
    font-size: 2.3rem;
    letter-spacing: 2px;
    color: white;
}

.gallery-container {
    column-count: 4;
    column-gap: 15px;
    padding: 20px;
}

.item {
    break-inside: avoid;
    overflow: hidden;
    margin-bottom: 15px;
    position: relative;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s ease;
}

.item img {
    width: 100%;
    display: block;
    border-radius: 12px;
    transition: 0.4s ease;
}

/* Hover effect */
.item:hover img {
    transform: translateY(-5px);
}
/* RESPONSIVE */
@media (max-width: 1000px) {
    .masonry {
        column-count: 3;
    }
}

@media (max-width: 700px) {
    .masonry {
        column-count: 2;
    }
}

@media (max-width: 480px) {
    .masonry {
        column-count: 1;
    }
}
