h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2.5rem;
    color: white;
}

.faq-box {
    background: black;
    padding: 20px;
    border-radius: 15px;
}

.faq-item {
    margin-bottom: 15px;
}

.faq-question {
    width: 100%;
    padding: 15px;
    text-align: center;
    background: white;
    border: none;
    color: black;
    font-size: 1.1rem;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.faq-question:hover {
    background: #00aaff;
}

.faq-answer {
    text-align: center;
    max-height: 0;
    overflow: hidden;
    background: #333;
    margin-top: 7px;
    border-radius: 10px;
    transition: max-height 0.4s ease;
}

.faq-answer p {
    padding: 15px;
    font-size: 0.95rem;
    color: #ddd;
}

/* Responsive */
@media (max-width: 600px) {
    h1 {
        font-size: 2rem;
    }
}
